body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.container {
  background-color: #f4f4f900;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 400px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tab-btn {
  padding: 10px;
  background-color: #00000022;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  flex: 1;
  margin: 0 2px;
}

.tab-btn.active {
  background-color: #28a745;
}

.note-editor {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#note-input {
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}

#add-note-btn {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#add-note-btn:hover {
  background-color: #218838;
}

.notes-list {
  display: flex;
  flex-direction: column;
}

.note {
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative;
  text-align: left;
}
.note .p {
  margin: 0px;
}
.delete-btn {
  position: absolute;
  top: 2.4px;
  right: 2px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
}

.delete-btn:hover {
  background-color: #c82333;
}

div.note p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 1px;
}
